**/.idea/*
*.iml
sku.0/sys.client/compiled/game/input/backup_groundinput_swg.mif
sku.0/sys.server/compiled/game/script/theme_park/dungeon/mustafar_trials/old_republic_facility/ancient_tulrus_death.java
sku.0/sys.server/compiled/game/script/theme_park/dungeon/mustafar_trials/old_republic_facility/backup_ancient_tulrus_death.java
sku.0/sys.server/compiled/game/script/theme_park/dungeon/mustafar_trials/old_republic_facility/ancient_tulrus_death - Copy.java
sku.0/sys.server/compiled/game/script/space/terminal/terminal_space_original.java
sku.0/sys.server/compiled/game/script/conversation/backup_heroic_prequest_bypass.java
sku.0/sys.server/compiled/game/script/conversation/base/backup_conversation_base.java
